*{
    font-family: 'Courier New', Courier, monospace;
}

.card{
    /* width: 175px;
    height: 200px; */
     border: 2px solid black; 
    display: inline-block;
    margin: 20px;
    border-radius: 8px ;
    box-shadow: 0px 4px 10px black;
    transition: 0.5s;
}

.man{
    width: 210px;
    height: 250px;
   
}

.woman{
    width: 210px;
    height: 250px;
}
.desc{
    padding: 0 2px 0 2px;
    color: cadetblue;
}
img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card:hover{
    box-shadow: 0px 8px 20px goldenrod;
}

.card:active{
    background-color: black;
    box-shadow: 0px 8px 20px rgb(37, 71, 156);
}

